html, body {
  background-color: #222; 
  max-width: 700px;
  max-height: 700px; 
  color: #fff; 
  margin: auto; 
}

canvas {
  margin: auto;
  max-width: 700px;
  max-height: 700px;
  display: block;
}