html, body {
  background-color: #222; 
  max-width: 800px; 
  color: #fff; 
  margin: 40px auto; 
  padding: 0 10px;
}
canvas {
  margin: 40px auto; 
  padding: 0 10px;
  max-width: 800px;
  max-height: 700px;
  display: block;
}