html, body {
  background-color: #222; 
  max-width: 800px; 
  color: #fff; 
  margin: 40px auto; 
  padding: 0 10px;
}
canvas {
  align-content:center;
  align-items:center;
  align-self:center;
  max-width: 800px;
  max-height: 400px;
  display: block;}